---
import Layout from "../layouts/Layout.astro";

const posts = [
    { title: "Zoro Sola", date: "2023-01-01", content: "This is the first post.",link: "/posts/post-1/" },
    { title: "Sugar Sanji", date: "2023-02-01", content: "This is the second post.",link: "/posts/post-2/" },
    { title: "Nami", date: "2023-03-01", content: "This is the third post.",link: "/posts/post-3/" },
    { title: "Luffy", date: "2023-04-01", content: "This is the fourth post.",link: "/posts/post-4/" },
    { title: "Franky", date: "2023-05-01", content: "This is the fifth post.",link: "/posts/post-5/" },
];
const mangaName = "One Piece";
---


<Layout>
    <div class="container">
        <h1>{mangaName}</h1>
        {posts.map(post => (
            <div class="post">
                <h2>{post.title}</h2>
                <a href={post.link}>Leia mais</a>
                <p class="date">{post.date}</p>
                <p>{post.content}</p>
            </div>
        ))}
    </div>
</Layout>
<style>
     
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.post {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.post h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}
.post p {
    margin: 5px 0;
    color: #666;
}
.post .date {
    font-size: 14px;
    color: #999;
}
    </style>
