---
const { frontmatter } = Astro.props;
import Layout from "./Layout.astro";
---
<Layout title={frontmatter.title} >
    
<h1>{frontmatter.title}</h1>
<p>{new Date(frontmatter.pubDate).toLocaleString('pt-BR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' })}</p>
<p><em>{frontmatter.description}</em></p>
<p>Escrito por: {frontmatter.author}</p>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
<div class="tags">
    {frontmatter.tags.map((tag:string) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
<br>

<slot />
</Layouyt>
<style>
    h1 {
        font-size: 2em;
        margin-bottom: 0.5em;
    }
    p {
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }
    .tag {
        background-color: #f0f0f0;
        padding: 5px;
        border-radius: 3px;
        margin-right: 5px;
    }
    .tag:hover {
        background-color: #e0e0e0;
    }
    .tag:active {
        background-color: #d0d0d0;
    }
      a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>